<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>About</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
  #more {display: none;}
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='ablaze.css') }}" />
</head>
<body>
<div>
    <ul class="user-info">
        {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            <li> | </li>
            <li><a href="{{ url_for('auth.show_signup_form') }}">Sign in</a></li>
        {% else %}
            <li>{{ current_user.name }}</li>
            <li> | </li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% endif %}
    </ul>
</div>
<div id="header">
  <div id="header-content">
    <h1 id="logo">Web Scrapers 2.0</h1>
    <h2 id="slogan">Troubleshoot webScraping Miniblog...</h2>
    <div class="searchform">
      <form action="#">
        <p>
          <input name="search_query" class="textbox" type="text" />
          <input name="search" class="button" value="Search" type="submit" />
        </p>
      </form>
    </div>
    <ul>
      <li><a href="{{ url_for('public.index') }}">Home</a></li>
      <li><a href="{{ url_for('public.spiderweb') }}">Spiderweb</a></li>
      <li><a href="{{ url_for('public.patch') }}">Patch Deployment</a></li>
      <li><a href="{{ url_for('public.documentation') }}">Documentation & Downloads</a></li>
      <li><a href="#" id="current">About</a></li>
    </ul>
  </div>
</div>
<div id="content-wrap">
  <div id="content">
    <div id="sidebar">
      <div class="sidebox">
        <h1>Sidebar Menu</h1>
        <ul class="sidemenu">
          <li><a href="{{ url_for('public.index') }}">Home</a></li>
          <li><a href="{{ url_for('public.index') }}">Blog Info</a></li>
          <li><a href="{{ url_for('public.spiderweb') }}">NEWS of the Spiderweb</a></li>
          <li><a href="{{ url_for('public.patch') }}">Patch Deployment</a></li>
          <li><a href="{{ url_for('public.documentation') }}">Documentation & Downloads</a></li>
        </ul>
      </div>
      <div class="sidebox">
        <h1>Frameworks</h1>
        <ul class="sidemenu">
          <li><a href="{{ url_for('public.documentation') }}">Scrapy</a></li>
          <li><a href="{{ url_for('public.documentation') }}">Beautifulsoup4</a></li>
          <li><a href="{{ url_for('public.documentation') }}">Requests</a></li>
          <li><a href="{{ url_for('public.documentation') }}">Splash</a></li>
          <li><a href="{{ url_for('public.documentation') }}">Selenium</a></li>
        </ul>
      </div>
      <div class="sidebox">
        <h1>Wise Words</h1>
        <p>&quot;Our life is what our thoughts make it.&quot;</p>
        <p class="align-right">- Marcus Aurelius</p>
      </div>
      <div class="sidebox">
        <h1>Support Scrapers</h1>
        <p>If you are interested in supporting my work and would like to contribute, you are welcome to make a small donation through the donate link on my website - it will be a great help and will surely be appreciated.</p>
      </div>
    </div>
    <div id="main"> <a name="TemplateInfo"></a>
      <h1>About <span class="gray">Me</span></h1>
      <p><strong>Web Scrapers 2.0 </strong>J. MARTORELL ARÁNEGA: Higher Degree Student Development of Multiplatform Applications Studying since the second semester of the 2018/2019 course at the Open Institute of Catalonia (BCN). Sixteen certificates of completion in computing nine in Cisco and seven Udemy. Official Certificate of Professionalism in Computer Systems Programming studied in Aula Reus (2017). As a social engineer I hold the degree of Bologna in Psychology. Regarding languages: English, Spanish with level C certificate of Catalan and Advanced English<span id="dots">...</span><span id="more"></br>LINKEDIN PROOFILE URL: <a rel="license" target="_blank" href="http://www.linkedin.com/in/josep-martorell-arànega-150575109">www.linkedin.com</a>. GITHUB ADDRESS: <a rel="license" target="_blank" href="https://github.com/josepmartorell">www.github.com</a>.</span></p>
      <p class="myBtn align-right"> <button onclick="myFunction()" id="myBtn">Read more</button></p>
        <script>
          function myFunction() {
            var dots = document.getElementById("dots");
            var moreText = document.getElementById("more");
            var btnText = document.getElementById("myBtn");

            if (dots.style.display === "none") {
              dots.style.display = "inline";
              btnText.innerHTML = "Read more";
              moreText.style.display = "none";
            } else {
              dots.style.display = "none";
              btnText.innerHTML = "Read less";
              moreText.style.display = "inline";
            }
          }
        </script>
      <a name="SampleTags"></a>
      <h1>Projects</h1>
      <h3>Web Scraping Projets</h3>
      <ol>
        <li><span>Project's name: Restel</span>
          <ul>
            <li><span>Description: "Web Scraping basic travel display automation project"</span></li>
            <li><span>Main python packages used: Selenium, bs4, xmlxwriter, smtplib</span></li>
          </ul>
        </li>
        <li><span>Project's name: Bedsonline</span>
          <ul>
            <li><span>Description: "Web Scraping travel display automation project"</span></li>
            <li><span>Main python packages used: Selenium, bs4, openpyxl, smtplib</span></li>
          </ul>
        </li>
        <li><span>Project's name: Solole</span>
          <ul>
            <li><span>Description: "Web Scraping custom travel display automation project"</span></li>
            <li><span>Main python packages used: Selenium, bs4, openpyxl, smtplib</span></li>
          </ul>
        </li>
        <li><span>Project's name: W2M pro</span>
          <ul>
            <li><span>Description: "Web Scraping/API advanced project of travel automated spreadsheets"</span></li>
            <li><span>Main python packages used: Selenium, requests, bs4, openpyxl, smtplib</span></li>
          </ul>
        </li>
      </ol>
      <h3>Blockquote</h3>
      <blockquote>
        <p>&#34;To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment.&#34; &#45; Ralph Waldo Emerson</p>
      </blockquote>
      <p> <a href="#"><img src="{{ url_for('static', filename='firefox-gray.jpg') }}" width="100" height="121" alt="firefox-gray"  class="float-left" /></a> This website in its entirety is part of a professional project that has been conceived by the author to improve the activity and professional experience without deriving responsibility for the misuse of the information presented here. All responsibility for their abuse is declined and the right is reserved to eliminate from the database anyone who deviates from the social and civic norm. This page neither collects cookies nor uses user tracking techniques. </p>
      <h3>Powered by Flask</h3>
      <br />
    </div>
  </div>
</div>
<div id="footer">
  <div id="footer-content">
    <div class="col float-left">
      <h2>Site Partners</h2>
      <ul>
        <li><a href="https://plantillashtmlgratis.com/en/home/"><strong>Free HTML Templates</strong> - The best free HTML templates</a></li>
        <li><a href="https://www.templatemonster.com/"><strong>TemplateMonster</strong> - Best templates on the net!</a></li>
        <li><a href="https://www.4templates.com/"><strong>4templates</strong> - Low Cost Hi-Quality Templates</a></li>
        <li><a href="https://cooltext.com/"><strong>Cool Text</strong> - Cool Text Graphics Generator</a></li>
        <li><a href="https://www.canva.com/"><strong>www.canva.com</strong> - Sophisticated design tools.</a></li>
      </ul>
    </div>
    <div class="col float-left">
      <h2>Links</h2>
      <ul>
        <li><a href="https://www.remotepython.com/"><strong>www.remotepython.com</strong></a></li>
        <li><a href="https://www.jobatus.es/trabajo-web-scraping/"><strong>Web Scraping Jobs</strong></a></li>
        <li><a href="https://www.python.org/jobs/type/back-end/"><strong>Backend Python Developer</strong></a></li>
        <li><a href="https://www.upwork.com/freelance-jobs/web-scraping/"><strong>Web Scraping Freelancer</strong></a></li>
        <li><a href="https://flaskjobs.com/"><strong>wwww.flaskjobs.com</strong></a></li>
      </ul>
    </div>
    <div class="col2 float-right">
      <p> &copy; copyright 2020 <strong>Josep Martorell Aránega</strong><br />
        Design by: <a href="https://www.styleshout.com/"><strong>styleshout</strong></a> &nbsp; &nbsp; Valid <a href="http://jigsaw.w3.org/css-validator/check/referer"><strong>CSS</strong></a> | <a href="http://validator.w3.org/check/referer"><strong>XHTML</strong></a> </p>
      <ul>
        <li><a href="#"><strong>Top</strong></a></li>
        <li><a href="#"><strong>Sitemap</strong></a></li>
        <li><a href="#"><strong>RSS Feed</strong></a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
