<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>jtech.network</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{{ url_for('static', filename='ablaze.css') }}" />
</head>
<body>
<div>
    <ul class="user-info">
        {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            <li> | </li>
            <li><a href="{{ url_for('auth.show_signup_form') }}">Sign in</a></li>
        {% else %}
            <li>{{ current_user.name }}</li>
            <li> | </li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% endif %}
    </ul>
</div>
<div id="header">
  <div id="header-content">
    <h1 id="logo">Web Scrapers Network</h1>
    <h2 id="slogan">Troubleshoot webScraping Miniblog...</h2>
    <div class="searchform">
      <form action="#">
        <p>
          <input name="search_query" class="textbox" type="text" />
          <input name="search" class="button" value="Search" type="submit" />
        </p>
      </form>
    </div>
    <ul>
      <li><a href="{{ url_for('public.index') }}">Home</a></li>
      <li><a href="{{ url_for('public.spiderweb') }}">Spiderweb</a></li>
      <li><a href="{{ url_for('public.patch') }}">PATCH Deployment</a></li>
      <li><a href="#" id="current">Documentation & Downloads</a></li>
      <li><a href="{{ url_for('public.about') }}">About</a></li>
    </ul>
  </div>
</div>
<div id="content-wrap">
  <div id="content">
    <div id="sidebar">
      <div class="sidebox">
        <h1>Sidebar Menu</h1>
        <ul class="sidemenu">
          <li><a href="#" class="top">Home</a></li>
          <li><a href="#TemplateInfo">Blog Info</a></li>
          <li><a href="#SampleTags">Sample Code</a></li>
          <li><a href="#">More Samples...</a></li>
          <li><a href="#">Freemium Video Tutorials</a></li>
        </ul>
      </div>
      <div class="sidebox">
        <h1>Frameworks</h1>
        <ul class="sidemenu">
          <li><a href="#" class="top">Scrapy</a></li>
          <li><a href="#">Beautifulsoup4</a></li>
          <li><a href="#">Modules to make requests</a></li>
          <li><a href="#">Splash</a></li>
          <li><a href="#">Selenium</a></li>
        </ul>
      </div>
      <div class="sidebox">
        <h1>Wise Words</h1>
        <p>&quot;Our life is what our thoughts make it.&quot;</p>
        <p class="align-right">- Marcus Aurelius</p>
      </div>
      <div class="sidebox">
        <h1>Support Scrapers</h1>
        <p>If you are interested in supporting my work and would like to contribute, you are welcome to make a small donation through the donate link on my website - it will be a great help and will surely be appreciated.</p>
      </div>
    </div>
    <div id="main"> <a name="TemplateInfo"></a>
      <h1>Documentation <span class="gray">& Downloads</span></h1>
      <p><strong>jtech.network 2.0 </strong>J. MARTORELL ARÁNEGA: Higher Degree Student Development of Multiplatform Applications Studying since the second semester of the 2018/2019 course at the Open Institute of Catalonia (BCN). Fifteen certificates of completion in computing nine in Cisco and four Udemy. Official Certificate of Professionalism in Computer Systems Programming studied in Aula Reus (2017). As a social engineer I hold the degree of Bologna in Psychology. Regarding languages: English, Spanish with level C certificate of Catalan and Advanced English. LINKEDIN PROOFILE URL: www.linkedin.com/in/josep-martorell-arànega-150575109.</p>
      <p class="comments align-right"> <a href="#">Read more</a> : <a href="#">Comments(7)</a> : Sep 19, 2019 </p>
      <a name="SampleTags"></a>
      <h1>Resources</h1>
      <h3>Web Scraping Resources</h3>
      <ul>
        <li><span>Scrapy</span></li>
        <li><span>Selenium</span></li>
        <li><span>Splash</span></li>
        <li><span>Beautifulsoup4</span>
        <li><span>Requests</span></li>
        <li><span>Flask</span>
        <li><span>Flask-RESTful</span>
        <li><span>Bootstrap</span>
      </ul>
      <ol>
        <li><span>Resource's name: Scrapy.</span>
          <ul>
            <li><span><a href="https://scrapy.org/"><strong>www.scrapy.org</strong></a> - An open source and collaborative framework for extracting the data you need from websites. Maintained by Scrapinghub and many other contributors.</span></li>
            <li><span><a href="https://support.scrapinghub.com/support/solutions/articles/22000216178-scrapy-cloud-vs-scrapyd-using-heroku-"><strong>Scrapy Cloud</strong></a> vs <strong>Scrapyd</strong> (using Heroku).</span></li>
            <li><span><a href="https://github.com/scrapinghub/scrapyrt"><strong>ScrapyRT</strong></a>: An API for Scrapy spiders.</span></li>
            <li><span><a href="https://www.scrapinghub.com/scrapy-cloud/"><strong>www.scrapinghub.com</strong></a> - Web scraping services and tools leader.</span></li>
          </ul>
        </li>
        <li><span>Resource's name: Web scraping with requests and BeautifulSoup4 in Python.</span>
          <ul>
            <li><span><a href="https://requests.readthedocs.io/en/master/"><strong>Requests</strong></a>: HTTP for Humans™</span></li>
            <li><span><a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/"><strong>Beautifulsoup4</strong></a>: A story from Alice in Wonderland.</span></li>
          </ul>
        </li>
        <li><span>Resource's name: Splash & Selenium.</span>
          <ul>
            <li><span><a href="https://splash.readthedocs.io/en/stable/"><strong>Splash</strong></a> - A javascript rendering service.</span></li>
            <li><span><a href="https://splash.readthedocs.io/en/stable/"><strong>Selenium</strong></a> with <strong>Python</strong> - readthedocs.</span></li>
            <li><span><a href="https://dzone.com/articles/perform-actions-using-javascript-in-python-seleniu"><strong>Interaction with Javascript</strong></a>: JavaScript statements through Python Selenium WebDriver.</span></li>
          </ul>
        </li>
        <li><span>Resource's name: Flask.</span>
          <ul>
            <li><span><a href="https://flask.palletsprojects.com/en/1.1.x/"><strong>Flask’s documentation</strong></a> "Official Reference Tutorial"</span></li>
            <li><span><a href="https://jinja.palletsprojects.com/en/2.11.x/templates/"><strong> Jinja Template Designer Documentation</strong></a>: Linked from the Flask’s documentation.</span></li>
            <li><span><a href="https://flask-restful.readthedocs.io/en/latest/"><strong>Flask-RESTful</strong></a>: Flask library for representational state transfer application program interface App development :)</span></li>
            <li><span><a href="https://flask-jwt-extended.readthedocs.io/en/stable/"><strong>Flask-JWT</strong></a> Extended’s Documentation.</span></li>
          </ul>
        </li>
        <li><span>Resource's name: Bootstrap.</span>
          <ul>
            <li><span><a href="https://getbootstrap.com/"><strong>Bootstrap 4</strong></a>: The world’s most popular framework for building responsive sites.</span></li>
          </ul>
        </li>
      </ol>
      <h3>Blockquote</h3>
      <blockquote>
        <p>&#34;To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment.&#34; &#45; Ralph Waldo Emerson</p>
      </blockquote>
      <p> <a href="#"><img src="{{ url_for('static', filename='firefox-gray.jpg') }}" width="100" height="121" alt="firefox-gray"  class="float-left" /></a> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna. In tristique orci porttitor ipsum. Aliquam ornare diam iaculis nibh. Proin luctus, velit pulvinar ullamcorper nonummy, mauris enim eleifend urna, congue egestas elit lectus eu est. </p>
      <h3>Powered by Flask</h3>
      <br />
    </div>
  </div>
</div>
<div id="footer">
  <div id="footer-content">
    <div class="col float-left">
      <h2>Site Partners</h2>
      <ul>
        <li><a href="https://plantillashtmlgratis.com/en/home/"><strong>Free HTML Templates</strong> - The best free HTML templates</a></li>
        <li><a href="https://www.templatemonster.com/"><strong>TemplateMonster</strong> - Best templates on the net!</a></li>
        <li><a href="https://www.4templates.com/"><strong>4templates</strong> - Low Cost Hi-Quality Templates</a></li>
        <li><a href="https://cooltext.com/"><strong>Cool Text</strong> - Cool Text Graphics Generator</a></li>
        <li><a href="https://www.canva.com/"><strong>www.canva.com</strong> - Sophisticated design tools.</a></li>
      </ul>
    </div>
    <div class="col float-left">
      <h2>Links</h2>
      <ul>
        <li><a href="https://www.remotepython.com/"><strong>www.remotepython.com</strong></a></li>
        <li><a href="https://www.jobatus.es/trabajo-web-scraping/"><strong>Web Scraping Jobs</strong></a></li>
        <li><a href="https://www.python.org/jobs/type/back-end/"><strong>Backend Python Developer</strong></a></li>
        <li><a href="https://www.upwork.com/freelance-jobs/web-scraping/"><strong>Web Scraping Freelancer</strong></a></li>
        <li><a href="https://flaskjobs.com/"><strong>wwww.flaskjobs.com</strong></a></li>
      </ul>
    </div>
    <div class="col2 float-right">
      <p> &copy; copyright 2020 <strong>Josep Martorell Aránega</strong><br />
        Design by: <a href="https://www.styleshout.com/"><strong>styleshout</strong></a> &nbsp; &nbsp; Valid <a href="http://jigsaw.w3.org/css-validator/check/referer"><strong>CSS</strong></a> | <a href="http://validator.w3.org/check/referer"><strong>XHTML</strong></a> </p>
      <ul>
        <li><a href="#"><strong>Home</strong></a></li>
        <li><a href="#"><strong>Sitemap</strong></a></li>
        <li><a href="#"><strong>RSS Feed</strong></a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
