<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  <title>Spiderweb</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    #more {display: none;}
  </style>
  <link rel="stylesheet" href="{{ url_for('static', filename='ablaze.css') }}" />
  </head>
  <body>
    <div>
        <ul class="user-info">
            {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                <li> | </li>
                <li><a href="{{ url_for('auth.show_signup_form') }}">Sign in</a></li>
            {% else %}
                <li>{{ current_user.name }}</li>
                <li> | </li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="header">
      <div id="header-content">
        <h1 id="logo">Web Scrapers 2.0</h1>
        <h2 id="slogan">Troubleshoot webScraping Miniblog...</h2>
        <div class="searchform">
          <form action="#">
            <p>
              <input name="search_query" class="textbox" type="text" id="mySearch" />
              <input name="search" class="button" value="Search" type="submit" onclick="myFunction2()" />
            </p>
          </form>
        </div>
        <ul>
          <li><a href="{{ url_for('public.index') }}">Home</a></li>
          <li><a href="#" id="current">Spiderweb</a></li>
          <li><a href="{{ url_for('public.patch') }}">Patch Deployment</a></li>
          <li><a href="{{ url_for('public.documentation') }}">Documentation & Downloads</a></li>
          <li><a href="{{ url_for('public.about') }}">About</a></li>
        </ul>
      </div>
    </div>
    <div id="content-wrap">
      <div id="content">
        <div id="sidebar">
          <div class="sidebox">
            <h1>Sidebar Menu</h1>
            <ul class="sidemenu">
              <li><a href="{{ url_for('public.index') }}">Home</a></li>
              <li><a href="{{ url_for('public.index') }}">Blog Info</a></li>
              <li><a href="#TemplateInfo">Spiderweb</a></li>
              <li><a href="{{ url_for('public.patch') }}">Patch Deployment</a></li>
              <li><a href="{{ url_for('public.documentation') }}">Documentation & Downloads</a></li>
            </ul>
          </div>
          <div class="sidebox">
            <h1>Frameworks</h1>
            <ul class="sidemenu">
              <li><a href="{{ url_for('public.documentation') }}">Scrapy</a></li>
              <li><a href="{{ url_for('public.documentation') }}">Beautifulsoup4</a></li>
              <li><a href="{{ url_for('public.documentation') }}">Requests</a></li>
              <li><a href="{{ url_for('public.documentation') }}">Splash</a></li>
              <li><a href="{{ url_for('public.documentation') }}">Selenium</a></li>
            </ul>
          </div>
          <div class="sidebox">
            <h1>Wise Words</h1>
            <p>&quot;Our life is what our thoughts make it.&quot;</p>
            <p class="align-right">- Marcus Aurelius</p>
          </div>
          <div class="sidebox">
            <h1>Support Scrapers</h1>
            <p>If you are interested in supporting my work and would like to contribute, you are welcome to make a small donation through the donate link on my website - it will be a great help and will surely be appreciated.</p>
          </div>
        </div>
        <div id="main"> <a name="TemplateInfo"></a>
          <h1>Crawling <span class="gray"> Through the Spiderweb</span></h1>
          <p><strong>Web Scrapers 2.0 </strong>This project consists of developing scripts specialized in web scraping. Some of these programs can be accessed by clicking on the links you will find on this page at the bottom of the mechanical spider image. These programs are published on the Internet and are just part of a small army of trackers that serve as the basis for more complicated later developments. Some of the patches, that you will find in the <a href="{{ url_for('public.patch') }}">Patch Deployment</a> tab, have been implemented as solutions to implement in some parts of them. They are just examples, although interesting, and they largely stage the<span id="dots">...</span><span id="more"> use of posts in the development of this type of software in this miniblog, in addition to serving as a basis for access to the community as a help and way of sharing technical solutions to users as well as the challenges of creating these applications.
          </span></p>
          <p class="myBtn align-right"> <button onclick="myFunction()" id="myBtn">Read more</button></p>
          <a name="SampleTags"></a>
          <h1>Spiders</h1>
          <h3>Automated data hunters</h3>
          <p><code><img src="{{ url_for('static', filename='spider.jpg') }}" width="400" height="400" alt="spider"  class="float-left" /><br/><br/><br/><br/>
          <br/><br/><br/></code></p>
          <h3>Most outstanding spiders of the day</h3>
          <ul>
            <li><span><a href="https://github.com/josepmartorell/bs4_instagram">bs4 Instagram</a>: "This application allows you to track instagram followers and extract images to store them in a folder along with a spreadsheet with its subtitles automatically written".</span></li>
            <li><span><a href="https://github.com/josepmartorell/Livecoin">Livecoin</a>: "This challenger spider crawls all over website corners gathering all possible information to index results in multiple ways".</span></li>
            <li><span><a href="https://github.com/josepmartorell/finance-computing-spider">Finance computing spider</a>: "Stock scraper with machine learning features".</span></li>
            <li><span><a href="https://github.com/josepmartorell/tinydeal-scrapy">Tinydeal Scrapy</a>: "Price tracker with price margin on special offers from the commercial website tinydeal.com".</span></li>
            <li><span><a href="https://github.com/josepmartorell/BeautifulSoup4">BeautifulSoup4</a>: "This is the first of a series of projects aimed at automating search and data collection tasks related to my city's business & travel agency".</span></li>
          </ul>
          <h3>Blockquote</h3>
          <blockquote>
            <p>&#34;To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment.&#34; &#45; Ralph Waldo Emerson</p>
          </blockquote>
          <p> <a href="#"><img src="{{ url_for('static', filename='firefox-gray.jpg') }}" width="100" height="121" alt="firefox-gray"  class="float-left" /></a> This website in its entirety is part of a professional project that has been conceived by the author to improve the activity and professional experience without deriving responsibility for the misuse of the information presented here. All responsibility for their abuse is declined and the right is reserved to eliminate from the database anyone who deviates from the social and civic norm. This page neither collects cookies nor uses user tracking techniques. </p>
          <h3>Powered by Flask</h3>
          <br />
        </div>
      </div>
    </div>
    <div id="footer">
      <div id="footer-content">
        <div class="col float-left">
          <h2>Site Partners</h2>
          <ul>
            <li><a href="https://plantillashtmlgratis.com/en/home/"><strong>Free HTML Templates</strong> - The best free HTML templates</a></li>
            <li><a href="https://www.templatemonster.com/"><strong>TemplateMonster</strong> - Best templates on the net!</a></li>
            <li><a href="https://www.4templates.com/"><strong>4templates</strong> - Low Cost Hi-Quality Templates</a></li>
            <li><a href="https://cooltext.com/"><strong>Cool Text</strong> - Cool Text Graphics Generator</a></li>
            <li><a href="https://www.canva.com/"><strong>www.canva.com</strong> - Sophisticated design tools.</a></li>
          </ul>
        </div>
        <div class="col float-left">
          <h2>Links</h2>
          <ul>
            <li><a href="https://www.remotepython.com/"><strong>www.remotepython.com</strong></a></li>
            <li><a href="https://www.jobatus.es/trabajo-web-scraping/"><strong>Web Scraping Jobs</strong></a></li>
            <li><a href="https://www.python.org/jobs/type/back-end/"><strong>Backend Python Developer</strong></a></li>
            <li><a href="https://www.upwork.com/freelance-jobs/web-scraping/"><strong>Web Scraping Freelancer</strong></a></li>
            <li><a href="https://flaskjobs.com/"><strong>wwww.flaskjobs.com</strong></a></li>
          </ul>
        </div>
        <div class="col2 float-right">
          <p> &copy; copyright 2020 <a href="https://s3.eu-west-1.amazonaws.com/jmartorell.tech/index.html"><strong>jmartorell.tech</strong></a><br />
            Design by: <a href="https://www.styleshout.com/"><strong>styleshout</strong></a> &nbsp; &nbsp; Valid <a href="http://jigsaw.w3.org/css-validator/check/referer"><strong>CSS</strong></a> | <a href="http://validator.w3.org/check/referer"><strong>XHTML</strong></a> </p>
          <ul>
            <li><a href="#"><strong>Top</strong></a></li>
            <li><a href="http://127.0.0.1:5000/sitemap.xml"><strong>Sitemap</strong></a></li>
            <li><a href="http://127.0.0.1:5000/feed"><strong>RSS Feed</strong></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Java Script
    ================================================== -->
    <script src="/static/scripts.js" charset="utf-8"></script>
  </body>
</html>
